.wp-block-mchymcak-emailjs-input {
	margin-bottom: 15px;
}

.emailjs-input-input {
	border: 1px solid #d7d7d7;
	padding: 10px;
	background: #fff;
}

.hideLabel label {
	display: none;
}

.showLabel label {
	display: block;
}
