.wp-block-mchymcak-emailjs-textarea {
	max-width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.hideLabel label {
	display: none;
}

.showLabel label {
	display: block;
}

.components-flex.components-select-control {
	height: auto;
}
